<form class="{{cssClass}} becmi sheet actor creature-sheet" autocomplete="off">
  <h1>BECMI Creature Sheet Loaded</h1>

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
  </header>

  <section class="sheet-body">
    <label>Creature Role</label>
    <select name="system.creatureRole">
      <option value="monster">Monster</option>
      <option value="retainer">Retainer</option>
      <option value="npc">NPC</option>
    </select>

    <label>HD</label>
    <input type="text" name="system.hd" value="{{system.hd}}"/>

    <label>HP</label>
    <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>

    <label>Max HP</label>
    <input type="number" name="system.hp.max" value="{{system.hp.max}}"/>

    <label>AC</label>
    <input type="number" name="system.ac" value="{{system.ac}}"/>

    <label>THAC0</label>
    <input type="number" name="system.thac0" value="{{system.thac0}}"/>

    <label>Morale</label>
    <input type="number" name="system.morale" value="{{system.morale}}"/>

    <label>Special Notes</label>
    <textarea name="system.specialNotes">{{system.specialNotes}}</textarea>
  </section>
</form>
