<form class="{{cssClass}} becmi sheet actor creature-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>

    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>

      <div class="form-group">
        <label>Creature Role</label>
        <select name="system.creatureRole">
          {{#select creatureRole}}
            <option value="monster">Monster</option>
            <option value="retainer">Retainer</option>
            <option value="npc">NPC</option>
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="grid grid-3col">
      <div class="form-group">
        <label>HD</label>
        <input type="text" name="system.hd" value="{{system.hd}}"/>
      </div>
      <div class="form-group">
        <label>HP</label>
        <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
      </div>
      <div class="form-group">
        <label>Max HP</label>
        <input type="number" name="system.hp.max" value="{{system.hp.max}}"/>
      </div>
      <div class="form-group">
        <label>AC</label>
        <input type="number" name="system.combat.ac" value="{{system.combat.ac}}"/>
      </div>
      <div class="form-group">
        <label>THAC0</label>
        <input type="number" name="system.thac0" value="{{system.thac0}}"/>
      </div>
      <div class="form-group">
        <label>Morale</label>
        <input type="number" name="system.combat.morale" value="{{system.combat.morale}}"/>
      </div>
    </div>

    <h2>Save As</h2>
    <div class="grid grid-2col">
      <div class="form-group">
        <label>Class</label>
        <select name="system.saveAs.class">
          {{#select saveAsClass}}
            <option value="fighter">Fighter</option>
            <option value="cleric">Cleric</option>
            <option value="magic-user">Magic-User</option>
            <option value="thief">Thief</option>
            <option value="dwarf">Dwarf</option>
            <option value="elf">Elf</option>
            <option value="halfling">Halfling</option>
            <option value="normal-man">Normal Man</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>Level</label>
        <input type="number" name="system.saveAs.level" value="{{saveAsLevel}}"/>
      </div>
    </div>

    <h2>Attacks</h2>
    <div class="attacks-list">
      {{#each attacks as |attack index|}}
        <div class="attack-row">
          <input type="text" name="system.attacks.{{index}}.name" value="{{attack.name}}" placeholder="Attack"/>
          <input type="number" name="system.attacks.{{index}}.attackBonus" value="{{attack.attackBonus}}" placeholder="Bonus"/>
          <input type="text" name="system.attacks.{{index}}.damage" value="{{attack.damage}}" placeholder="Damage"/>
        </div>
      {{/each}}
    </div>

    <div class="form-group stacked">
      <label>Special Notes</label>
      <textarea name="system.specialNotes">{{system.specialNotes}}</textarea>
    </div>
  </section>
</form>
